body {
  font-family: Arial, sans-serif;
}

/* Навигация */
nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #333;
  overflow: hidden;
  margin: 0;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

/* Общий контейнер для контента */
.container {
  padding: 20px;
}

/* Стили для таблицы */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* Стили для деталей урока */
.lesson-details {
  margin-bottom: 10px; /* Пример отступа снизу */
}

/* Стили для пустого слота урока */
.empty-lesson-slot {
  height: 50px; /* Пример высоты пустого слота */
}

/* Стили для разделителя */
.divider {
  border-top: 1px solid #ccc;
  margin: 4px 0;
}
